* {
  font-family: 'Open Sans', sans-serif;
  color: #374D44;
  scroll-behavior: smooth;
  /*border: 1px solid red;*/
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid #374D44;
  position: sticky;
  top: 0em;
  background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  margin: 0em 0.5em;
  text-decoration: none;
  font-weight: 900;
  font-size: large;
}

nav a:hover {
  color: #008A24;
}

nav div {
  visibility: hidden;
  max-width: 0px;
}

.spacertop {
  display: block;
  height: 4.5em;
  margin-top: -4.5em;
  visibility: hidden;
}

h1, h2 {
  font-family: 'Share Tech Mono', monospace;
  color: #008A24;
}

h3 {
  font-weight: bold;
}

section {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

section:nth-of-type(1) {
  padding-top: 2em;
}

.Collapsible__trigger {
  font-weight: 800;
  text-decoration: none;
}

.Collapsible__trigger:hover {
  cursor: pointer;
  color: #008A24;
}

.rowFlexCon {
  display: grid;
  grid-template-columns: 50%, 50%;
  justify-items: start;
  gap: 2em;
}

.rowFlexCon div:nth-of-type(2) {
  grid-column: 2;
}

.rowFlexCon div {
  min-width: 50%;
  max-width: 23em;
}

li {
  margin-left: -1em;
}

img {
  max-width: 100%;
}

hr {
  border: 0.5px solid #374D44;
  width: 80%;
  box-sizing: border-box;
}

.projectHr {
  margin: 4em auto;
  width: 60%;
}

footer {
  border-top: 2px solid #374D44;
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 2em;
}

footer * {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.behindFooter {
  height: 7em;
}

footer a {
  text-decoration: none;
  font-weight: 800;
}

footer a:hover {
  color: #008A24
}

.projektDiv {
  display: flex;
  flex-direction: column;
}

.projectDetails { 
  display: flex; 
  flex-direction: row;
  
  justify-content: space-around;
}

.projectDetails div {
  max-width: 50%;
  max-height: 100%;
  padding: 1.5em;
  box-sizing: border-box;
}

.projectDetails a {
  font-weight: 800;
  text-decoration: none;
}

.projectDetails a:hover {
  cursor: pointer;
  color: #008A24;
}

main, header, footer {
  padding-left: 20%;
  padding-right: 20%;
}

/*Media queries following*/

@media (max-width: 1082px) {
	main, header, footer { 
    padding-left: 5em;
    padding-right: 5em; 
  }
  h1 { font-size: x-large}

  .projectDetails:nth-of-type(1) { 
    flex-direction: column;
  }

  .projectDetails:nth-of-type(1) div { 
    max-width: 100%;
  }

}

@media (max-width: 600px) {
	main, header, footer { 
    padding-left: 2em;
    padding-right: 2em; 
  }

  nav a {
    visibility: hidden;
    max-width: 0px;
  }
 
  nav div {
    visibility: visible;
    max-width: 100%;
  }

  nav div * {
    visibility: visible;
    max-width: 100%;
  }

  .burgerButton {
    position: fixed;
    top: 1em;
    right: 2em; 
    z-index: 1000;
    overflow-y: visible;
    background-color: white;
    padding-right: 2em;
    padding-left: 1em;
  }

  .burgerImg {
    max-width: 30px;
  }

  .burgerMenu {
    display: flex; 
    flex-direction: column;
  }

  .burgerMenu * {
    margin: 5px 10px 5px 0;
  }

  .rowFlexCon {
    display: flex;
    flex-direction: column;
  }

}
